version: "3.9"
services:
  tracker:
    build: .
    container_name: track-hacker
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./data:/app/data
